body {
  font-family: Roboto;
}

.top-bar,
.first-container,
.footer {
  background-color: #1F2937;
}

.top-bar {}

.header-logo,
.hero h1 {
  color: #F9FAF8;
}

.header-logo {
  font-size: 24px;
}

.nav {}

.nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.nav a {
  text-decoration: none;
}

.first-container {}


.hero,
.nav a {
  font-size: 18px;
  color: #E5E7EB;
}

.hero {}

.hero h1 {
  font-weight: 900;
  font-size: 48px;
}

button,
.cta {
  background-color: #3882F6;
}

.hero a {}

.hero button {}

.hero img {}

.second-container {}

.second-container h2,
.third-container .quotation {
  color: #1F2937;
}

.second-container h2 {
  font-size: 36px;
  font-weight: 900;
}

.second-container .card-container {}

.second-container .card-container .card {}

.second-container .card-container .card .thumbnail {}

.third-container {
  background-color: #E5E7EB;
}

.third-container .quotation {
  font-weight: 300;
  font-size: 36px;
  font-style: italic;
}

.third-container .attribution {}

.fourth-container {}

.fourth-container .cta {}

.fourth-container .cta .cta-text {}

.fourth-container .cta .cta-text h3 {}

.fourth-container .cta button {}

.footer {}
