* { border: 1px solid red; }

html {
  font-size: 62.5%; /* 10pt */
  font-family: Roboto;
}

body {
  font-size: 1.6rem;
  color: #E5E7EB;
  margin: 0;
}

.content {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: 1000px;
  /* display: flex; */
}

.top-bar,
.first-container,
.footer {
  background-color: #1F2937;
}

.top-bar .content {
  width: 100%;
  flex: auto;
  display: flex;
  justify-content: space-between;
}

.header-logo,
hero-heading-text {
  color: #F9FAF8;
}

.header-logo {
  font-size: 2.4rem;
  /* flex-shrink: 1; */
}

.nav {
  display: flex;
  align-items: center;
}

.nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
}

.nav a {
  text-decoration: none;
}

.first-container .content {
  display: flex;
}


.hero,
.nav a {
  font-size: 1.8rem;
  color: #E5E7EB;
}

.hero {}

hero-heading-text {
  font-weight: 900;
  font-size: 4.8rem;
}

button,
.cta {
  background-color: #3882F6;
}

.hero a {}

.hero button {}

.hero img {
  max-height: 100%;
  max-width: 100%;
}

information-heading-text,
.quotation,
.card {
  color: #1F2937;
}


information-heading-text {
  font-size: 3.6rem;
  font-weight: 900;
}

.card-container {}

.card {}

.card .thumbnail {}

.third-container {
  background-color: #E5E7EB;
}

.quotation {
  font-weight: 300;
  font-size: 3.6rem;
  font-style: italic;
}

.attribution {}

.cta {}

.cta-text {}

cta-heading-text {}

.cta button {}

.footer {}
